# Database (matches docker-compose.yml in the root of the project)
DATABASE_URL="postgresql://redi:redi@localhost:5434/redicycle"

# Server Configuration
NODE_ENV="development"
PORT="4000"
HOST="localhost"
PROTOCOL="http"

# CORS Configuration
CORS_ORIGIN="http://localhost:3000"
